<div [formGroup]="form" [ngSwitch]="collector.FormInputTypeCode">

    <!-- <pre *ngSwitchDefault>unknow input type</pre> -->

    <ul class="list-group" [class]="collector.LabelCssClass" *ngSwitchCase="'BulletList'">
        <li class="list-group-item" *ngFor='let option of collector.OptionList; let i = index'>
            {{option.Description}}</li>
    </ul>

    <img [src]="collector.DefaultValue" class="img-fluid" [class]="collector.LabelCssClass" alt=""
        *ngSwitchCase="'Image'">

    <div class="form-group" *ngSwitchCase="'Radio'" [class]="collector.LabelCssClass">
        <div class="mr-3">
            <label class="float-left" [attr.for]="collector.HtmlName" [innerHTML]="collector.Label"></label>
            <span *ngIf="collector.IsRequired" class="required-asterisk float-left">*</span>
        </div>
        <div class="form-check mr-2" *ngFor='let option of collector.OptionList; let i = index'>
            <input type="radio" class="form-check-input" [formControlName]="collector.HtmlName"
                [id]="collector.HtmlName+i" [name]="collector.HtmlName" [value]="option.Value"
                [checked]="option.IsSelected">
            <label class="form-check-label" [attr.for]="collector.HtmlName+i">{{option.Description}}</label>
        </div>
    </div>

    <div class="form-group form-inline" *ngSwitchCase="'RadioInline'" [class]="collector.LabelCssClass">
        <div class="mr-3">
            <label class="float-left" [attr.for]="collector.HtmlName" [innerHTML]="collector.Label"></label>
            <span *ngIf="collector.IsRequired" class="required-asterisk float-left">*</span>
        </div>
        <div class="form-check mr-2" *ngFor='let option of collector.OptionList; let i = index'>
            <input type="radio" class="form-check-input" [formControlName]="collector.HtmlName"
                [id]="collector.HtmlName+i" [name]="collector.HtmlName" [value]="option.Value"
                [checked]="option.IsSelected">
            <label class="form-check-label" [attr.for]="collector.HtmlName+i">{{option.Description}}</label>
        </div>
    </div>


    <div class="form-group" *ngSwitchCase="'Hidden'" [class]="collector.LabelCssClass">
        <input class="form-control" [formControlName]="collector.HtmlName" [id]="collector.HtmlName"
            [type]="collector.FormInputTypeCode">
    </div>


    <a href="#" class="btn btn-primary" [class]="collector.LabelCssClass" *ngSwitchCase="'Link'">{{collector.Label}}</a>

    <div class="form-group" *ngSwitchCase="'ActionButton'" [class]="collector.LabelCssClass">
        <button type="submit" name="ButtonCancelTree" id="ButtonCancelTree" [disabled]="!form.valid"
            style="margin-right:30px;">{{collector.Label}}</button>
    </div>


    <div class="form-group" *ngSwitchCase="'TextArea'" [class]="collector.LabelCssClass">
        <label class="float-left" [attr.for]="collector.HtmlName">{{collector.Label}}</label>
        <span *ngIf="collector.IsRequired" class="required-asterisk float-left">*</span>
        <textarea class="form-control" [formControlName]="collector.HtmlName" [id]="collector.HtmlName"></textarea>
        <small id="emailHelp" class="form-text text-muted">small description</small>
    </div>


    <div class="form-group" *ngSwitchCase="'TextBox'" [class]="collector.LabelCssClass">
        <label class="float-left" [attr.for]="collector.HtmlName">{{collector.Label}}</label>
        <span *ngIf="collector.IsRequired" class="required-asterisk float-left">*</span>
        <!-- <input type="text" class="form-control" [id]="collector.HtmlName" aria-describedby="emailHelp"
            placeholder="Enter {{collector.Label}}"> -->
        <input class="form-control" [formControlName]="collector.HtmlName" [id]="collector.HtmlName"
            [type]="collector.FormInputTypeCode">
        <small id="emailHelp" class="form-text text-muted">small description</small>
    </div>


    <div class="dropdown" *ngSwitchCase="'DropDown'" [class]="collector.LabelCssClass">
        <label class="float-left" [attr.for]="collector.HtmlName">{{collector.Label}}</label>
        <span *ngIf="collector.IsRequired" class="required-asterisk float-left">*</span>
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            -- please select --
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" *ngFor='let o of collector.OptionList'>{{o.Description}}</a>
        </div> -->
        <select [id]="collector.HtmlName" [formControlName]="collector.HtmlName">
            <option *ngFor="let opt of collector.OptionList" [value]="opt.Value">{{opt.Description}}
            </option>
        </select>
    </div>

    <div class="form-group form-check" *ngSwitchCase="'CheckBox'" [class]="collector.LabelCssClass">
        <input type="checkbox" class="form-check-input" [formControlName]="collector.HtmlName"
            [id]="collector.HtmlName">
        <label class="form-check-label float-left" [attr.for]="collector.HtmlName"
            [innerHTML]="collector.Label"></label>
        <span *ngIf="collector.IsRequired" class="required-asterisk float-left">*</span>
    </div>

    <!-- <div *ngIf="form.invalid && (form.dirty || form.touched)" class="alert alert-danger"> -->
    <div class="errorMessage" *ngIf="isInvalid" class="text-danger">{{errorMessage}} </div>
    <!-- </div> -->
</div>