<div *ngIf="collectors.length > 0">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let collector of collectors" class="form-row">
      <app-question-form-collector [collector]="collector" [form]="form"></app-question-form-collector>
    </div>


    <div class="form-row">
      <button type="reset" *ngIf="false">Reset</button>
      <button type="submit" *ngIf="page.IsContinueButtonVisible" [disabled]="!form.valid" name="continueSubmit"
        id="continueSubmit" style=" margin-right:30px;">Continue</button>
      <button type="button" *ngIf="page.IsCancelTreeButtonVisible" (click)="onSubmit($event)" name="ButtonCancelTree"
        id="ButtonCancelTree" style="margin-right:30px;">Cancel</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>