<section class="section">
    <header class="headline text center">
        <h1 class="title ">Frequently Asked Questions</h1>
    </header>

    <!-- UI as below or https://verisk-console.lrn.com/notifications/history -->
    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="item">
            <div class="header" role="tab" id="heading1">
                <a class="title collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <i class="icon icon-help-circled-alt"></i>
                    <span class="text">How do I book a session? </span>
                    <i class="icon-arrow icon-down-dir"></i>
                </a>
            </div>
            <div id="collapse1" class="content collapse" role="tabpanel" aria-labelledby="heading1"
                aria-expanded="false" style="height: 1px;">
                <div class="padding">
                    <p>1. Pick the topic you are interested in and click "Book Now”.</p>
                    <div class="text center margin-bottom-lg">
                        <img class="img fluid" src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>