<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <connectionStrings>
    <add name="CallCenterDBEntities" connectionString="metadata=res://*/CallCenterModel.csdl|res://*/CallCenterModel.ssdl|res://*/CallCenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XDWCCSQL.visu.verisk.com,3341;Initial Catalog=CallCenter;Integrated Security=False;User ID=ccdotnet;Password=s7eSPaTH;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QPCEntities" connectionString="metadata=res://*/QPCEntities.csdl|res://*/QPCEntities.ssdl|res://*/QPCEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XDWCCSQL.visu.verisk.com,3341;initial catalog=QPC;integrated security=False;User ID=ccdotnet;Password=s7eSPaTH;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WebScriptSecurityEntities" connectionString="metadata=res://*/WebScriptSecurityEntities.csdl|res://*/WebScriptSecurityEntities.ssdl|res://*/WebScriptSecurityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XDWCCSQL.visu.verisk.com,3341;initial catalog=WebscriptSecurity;integrated security=False;User ID=ccdotnet;Password=s7eSPaTH;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarkIIQpctoolsBizruleEntities" connectionString="metadata=res://*/MarkIIQpctoolsBizruleEntities.csdl|res://*/MarkIIQpctoolsBizruleEntities.ssdl|res://*/MarkIIQpctoolsBizruleEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XDOSQLMII01,3341;initial catalog=QPCTOOLS;integrated security=False;User ID=ccdotnet;Password=s7eSPaTH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- custom settings -->
    <add key="ApplicationTypeCd" value="Web" />
    <add key="DataCacheTimeInMinutes" value="1" />
    <add key="EnableTraceLog" value="false" />
    <add key="Environment" value="local" />
    <add key="SecurityServiceURL" value="https://qpcwebappstag.qualityplanning.com:446/commonservice/AuthenticationHelper.asmx" />
    <add key="SMTPServerIP" value="wpimail01" />
    <add key="ResetLinkedServerName" value="MARKIIDEV" />
    <add key="QPConfirmServiceURL" value="https://qpcwebappstag.qualityplanning.com:446/qpconfirm/Broker.asmx" />
    <add key="MailerServiceURL" value="http://xswapp01.visu.verisk.com/mailerservice/ctrservice.asmx" />
    <!--<add key="MailerServerPath" value="\\qualityplanning\clientdata\Mailer\LCTR\Test\"/>-->
    <add key="SignedMailerSuffix" value="_SIGNED" />
    <add key="TuApiUrl" value="http://underwritingapia-internal-transunion.iso.com/vendor/IDSearch/v1" />
    <add key="HideFaqLinkCarrierID" value="99" />
    <add key="AppHelperServiceUrl" value="http://xdwapp01.visu.verisk.com/commonservicev2/apphelper.asmx" />
    <add key="EventLogServiceURL" value="http://xdwapp01.visu.verisk.com/commonservicev2/EventLog.asmx" />
    <add key="CaptchaSiteKey" value="6LeBn-cUAAAAAJW-BqGtmzbcwi4mcnK_Ugv4Mptf" />
    <add key="CaptchaSecreteKey" value="6LeBn-cUAAAAAF-Hu4ydxOAeePqbPwXJWkS6dWbR" />
    <add key="CvPopiUrl" value="http://qpcwebappstag.qualityplanning.com/api/callCvPopi/GetIsCurrentInforceCoverage?" />
  </appSettings>
</configuration>